html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #fff;
}

.bold {
  font-weight: 600;
}

.activity_done {
  background-color: #95ef76;
}

.activity_pending {
  background-color: #f3ff6d;
}

.activity_canceled {
  background-color: #ef7d76;
}
